<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mano | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/public/styles/reset.css" />
    <link rel="stylesheet" href="/public/styles/global.css" />
    <script src="/public/scripts/index.js" type="module" defer></script>
    {% endblock head %}
</head>
<body>
    {% block content %}{% endblock content %}
    <footer-mano></footer-mano>
</body>
</html>