@font-face {
    font-family: 'Jaro';
    src: url("/public/fonts/Jaro/Jaro-Regular-VariableFont_opsz.ttf");
}

body {
    background-color: #EFEFF8;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    width: calc(100%-4rem);
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    nav {
        font-family: 'Jaro';
        height: 100%;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}